
<div *ngIf="errorMessage" class="error">{{errorMessage}}</div>
<form [formGroup]="partnerForm" (ngSubmit)="onSubmit($event)">

    <div class="form-group">
        <input
            type="text"
            placeholder="Nome"
            formControlName="firstName"
            name="firstName"
            [(ngModel)]="partner.firstName"
            maxlength="20" />
       
    </div>

    <div class="form-group">
        <input
            type="text"
            placeholder="Sobrenome"
            formControlName="lastName"
            name="lastName"
            [(ngModel)]="partner.lastName"
            maxlength="20" />
       
    </div>

    <div class="form-group">
        <input
            type="number"
            placeholder="Participação"
            formControlName="percentage"
            name="percentage"
            [(ngModel)]="partner.percentage"
            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
            step="1.00" />
        
    </div>

    <div class="form-group">
        <button type="submit" id="btnSubmit" [disabled]="partnerForm.invalid">Enviar</button>
    </div>

</form>


